
nav.meniu {
    background-color: beige;
    border-bottom: 1px solid black;
    position: fixed;
    box-shadow: 0 0 15px;
    width: 100%;
    height: 50px;
}
nav .item {
    float: left;
    width: 33%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: inherit;
}
nav .item a {
    padding: 0 10px;
    background-color: #DEB887;
    color: #7c6347;
    text-decoration: none;
}
nav .item a:hover {
    background-color: #7c6347;
    color: #DEB887;
}
.turinys{
    padding-top: 70px;
}
footer {
    background-color: antiquewhite;
    padding: 20px;
}