html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: lightblue;
    padding: 0;
    margin: 0;
}
h1 {
    color:white;
    text-align: center;
    margin: 0 auto;
}
p {
    font-family: Verdana;
    font-size: 20px;
}
.center {
    text-align: center;
    color: red;
}
.antraste {
    width: 500px;
    border-bottom: 3px solid black;
}